Three different approches:
* Drop table
* Ordinal Encoding: Assigning a number to each category
* One hot encoding: Create a new column for each category (0/1 values)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor


def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mean_absolute_error(y_test, preds)

data = pd.read_csv('../Intro/input/melb_data.csv')

features = ['Type', 'Method', 'Regionname', 'Rooms', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude', 'Propertycount']
X = data[features]
y = data.Price

X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state=0)
X_train.head()

,Type,Method,Regionname,Rooms,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Propertycount
664,h,S,Southern Metropolitan,3,9.2,3104.0,3.0,2.0,368.0,-37.78460,145.09350,7809.0
3270,h,S,Eastern Metropolitan,2,10.5,3081.0,2.0,1.0,586.0,-37.74350,145.04860,2947.0
3873,h,S,Southern Metropolitan,2,11.2,3145.0,2.0,1.0,348.0,-37.86720,145.04320,8801.0
13170,h,S,Northern Metropolitan,3,19.6,3076.0,3.0,1.0,521.0,-37.63854,145.05179,10926.0
1730,h,S,Southern Metropolitan,4,11.4,3163.0,3.0,2.0,687.0,-37.89310,145.04790,7822.0

In [4]:
# checks each column's data type and returns True if it matches 'object' and False otherwise. This creates a boolean mask for the columns.
s = (X_train.dtypes == 'object')
print('s =>\n', s)
# The code uses boolean indexing to filter the Series s, keeping only the True values,
object_cols = list(s[s].index)

print('\nCategorical variables:')
print(object_cols)

s =>
 Type              True
Method            True
Regionname        True
Rooms            False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Landsize         False
Lattitude        False
Longtitude       False
Propertycount    False
dtype: bool

Categorical variables:
['Type', 'Method', 'Regionname']

# Drop the column

In [5]:
drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_valid = X_valid.select_dtypes(exclude=['object'])
print(score_dataset(drop_X_train, drop_X_valid, y_train, y_valid))

178913.83068595274

# Ordinal number encoding